.product-quickview {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: scroll;
    z-index: 9;
    display: block;
}
.hidden {
    display: none;
}
.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.65;
    background: #333 none repeat scroll 0 0;
}
.quickview-content {
    width: 850px;
    height: fit-content;
    padding: 20px;
    padding-bottom: 12px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    right: 0; bottom: 0;
    transform: translate(-50%, -50%);
    outline: 0 none;
}
.product-view-img {
    padding-right: 15px;
}
.quickview-shop {
    padding: 0 15px;
}
.quickview-main-img a img {
	width: 322px;
}
.more-view {
    margin-top: 15px;
}
.btn-close .btn-square::before {
    background-image: url(/images/plus-white.png);
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
}
.product-quickview .btn-square {
    background-color: #666;
    border:#666;
    opacity: 1;
    transform: none;
}
.product-quickview .btn-square:hover {
    background-color: #000;
    border:#000;
    opacity: 1;
}
.quickview-shop h2 {
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
}
.product-base-info {
    margin-bottom: 20px;
}
.product-base-info th, td {
    text-align: left;
    padding-bottom: 5px;
}
.product-base-info th {
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 10px;
}
.product-base-info td {
    text-transform: lowercase;
}
.product-summary {
    margin-bottom: 20px;
}
.product-options {
    font-weight: 700;
    text-transform: uppercase;
}
.product-options-name {
    padding-bottom: 5px;
}
.product-shop-info .product-options-name {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.product-options .checked, .product-options-item:hover {
    background-color: #000;
	border: 1px solid #000;
    color: #fff;
    cursor: pointer;
}
.product-options-item, .product-options-color {
    display: block;
    width: 32px;
	height: 32px;
    margin: 0 10px 15px 0;
    letter-spacing: 0;
}
.product-options-item {
    background-color: transparent;
	border: transparent;
    color: #000;
    text-align: center;
    line-height: 32px;
}
.product-options .checked-color, .product-options-color:hover {
    border: none;
    border: 0.5px solid #333;
    cursor: pointer;
}
.quickview-shop .product-price, .quickview-shop .product-quantity {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    margin: 15px 0 10px 0;
}
.product-price-title {
    padding-top: 10px;
}
.quickview-shop .product-quantity {
    margin-bottom: 25px;
}
.product-quantity span {
    line-height: normal;
    padding-top: 15px;
    margin-right: 10px;
}
.product-one-left {
    color: #cc0000;
    font-weight: 400;
}

