.products-list-item {
    position: relative;
    width: 265px;
    margin-bottom: 30px;
}
.product-img {
    overflow: hidden;
    position: relative;
}
.product-img a {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 0;
    vertical-align: middle;
}
.grid-img::before {
    content: " ";
    background: #272727;
    position: absolute;
    bottom: 0; left: 0; right: 0; top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.products-list-item:hover .grid-img::before {
    opacity: 0.5;
}
.product-img img {
    width: 100%;
    height: auto;
    margin: 0;
}
.product-img .btn-square {
    color: #333333;
    bottom: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateX(100%);
    right: 0%;
    transition: all 0.3s ease 0s;
}
.products-list-item:hover .btn-square {
    opacity: 1;
    transform: translateX(0%);
}
.product-img .btn-square {
    background-color: #000;
    border: 1px solid #000;
    font-size: 24px;
    color: #fff;
}
.product-img .btn-square:hover {
    background-color: #333;
    border:#333;
}
.product-title {
    padding-top: 25px;
}
.product-title a:hover {
    color: #999;
}
.product-price {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
    text-align: center;
    cursor: default;
}
.action-buttons button {
    padding: 6px 25px;
    border: 1px solid #999;
}
.action-buttons .btn-square {
    margin-left: 10px;
    position: relative;
    padding: 0;
}
.action-buttons button:hover {
    background-color: #333;
    border: 1px solid #fff;
}
.action-buttons .btn-square::before, .product-img .btn-square::before {
    width: 16px;
    height: 16px;
}
.action-buttons .btn-square::before {
    background-image: url('/images/heart.png');
}
.product-img .btn-square::before {
    background-image: url('/images/plus-white.png');
}
.product-content .compare-price {
    color: #999;
}
.product-content .compare-price em {
    padding-right: 5px;
}
.product-content .product-price {
    margin: 5px 0 8px 0;
}
.product-img .product-label {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #ff0000;
    font-weight: 600;
    background: #fff;
    z-index: 9;
    text-transform: uppercase;
    right: 15px;
    top: 15px;
    position: absolute;
}
.product-img .color-swatch-item {
    background: #fff;
    bottom: 0;
    margin-bottom: 0;
    padding: 7px 5px;
    position: absolute;
    z-index: 9;
    color: #000;
}
.product-img .color-swatch-item li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 3px;
}
.product-img .color-swatch-item li:last-child {
    margin-right: 0;
}
