.customer-links {
    padding: 6px 0;
}
.customer-links > li {
    position: relative;
    padding-right: 14px;
    line-height: 30px;
}
.customer-links > li:last-child {
    padding-right: 0;
}
.customer-links > li::after {
    background: #666;
    height: 12px;
    width: 1px;
    content: '';
    transform: rotate(10deg);
    position: absolute;
    right: 7px;
    top: 10px;
}
.customer-links > li:last-child::after {
    display: none;
}
.customer-links li a {
    text-transform: capitalize;
    font-size: 13px;
}
.customer-links li a:hover {
    color: #999;
}
.header-inner {
    padding: 5px 0 15px;
    border-bottom: 1px solid #e5e5e5;
}