.main-contant {
    padding: 50px 0;
}
.contant-list {
    padding-left: 15px;
}
.toolbar {
    margin-bottom: 30px;
}
.products-grid {
    flex-wrap: wrap;
}
.products-grid .products-list-item {
    margin-bottom: 25px;
}
.page-total, .browse-sort-filters {
    font-family: Montserrat, sans-serif;
}
.products-item-grid {
    padding-right: 22.5px;
}

