.img-view-content {
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-bottom: 0;
    box-sizing: border-box;
}
.fullscreen-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.view-wrap {
    position: relative;
}
.view-wrap .btn-close {
    position: absolute;
    right: 0;
    top: 0;
}