.hidden-popup {
    display: none;
}
.wapper-popup {
    position: relative;
}
.popup-newsletter {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}
.popup-overlay {
    position: absolute;
    background: rgba(45,45,50,0.6);
    height: 100%;
    width: 100%;
}
.popup-row {
    min-height: 400px;
    width: 800px;
    padding: 60px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    background:  url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/popup%2Fbg_newsletter.jpg?alt=media&token=1b4eb135-b788-4d1b-af18-b19543702af6') scroll center center no-repeat;
    background-size: cover;
}
.popup-row::before {
    content: "";
    position: absolute;
    border: 1px solid #cccccc;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 15px;
}
.newsletter-content {
    width: 50%;
    text-align: center;
}
.popup-newsletter .title {
    font-size: 30px;
    color: #000;
    letter-spacing: 0.05em;
    margin: 17px 0;
}
.popup-newsletter .sub-title {
    line-height: 25px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    color: #555;
}
.popup-newsletter .subscr-form {
    padding: 0;
}
.popup-newsletter .subscr-input {
    border: 2px solid #d4d4d4;
    width: 100%;
    color: #a3a3a3;
    font-family: Lato;
    font-size: 14px;
    height: 40px;
    padding: 5px 10px;
}
.popup-newsletter .subscr-form .input-field {
    text-align: center;
    background: none;
    padding: 0;
}
.popup-newsletter .subscr-form .wrap {
    width: auto;
    margin-top: 25px;
}
.popup-newsletter .subscr-form .input-btn {
    position: inherit;
    margin: 0 auto;
    border: 1px solid #333;
	color: #000;
	background-color: transparent;
	font-weight: 700;
	vertical-align: middle;
    padding: 0 19px;
    height: 40px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}
.popup-newsletter .subscr-form .input-btn:hover {
    background-color: #000;
	border: 1px solid #000;
    color: #fff;
}
.popup-newsletter .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.popup-newsletter .btn-square {
    background-color: #666;
    border:#666;
    opacity: 1;
    transform: none;
}
.popup-newsletter .btn-square:hover {
    background-color: #000;
    border:#000;
    opacity: 1;
}
.popup-newsletter .subscr-confirm {
    text-align: center;
    width: 100%;
    padding: 15px 10px 0;
    background-color: #999;
    height: 84px;
    line-height: 26px;
    font-size: 16px;
}
