* {
	box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #999;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2em;
}
.container {
	margin: 0 auto;
}
.wrap {
	display: flex;
}
.center {
	justify-content: center;
}
.left {
	justify-content: flex-start;
}
.right {
	justify-content: flex-end;
}
.space-between {
	justify-content: space-between;
}
[class*="col-"] {
	position: relative;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33.333%;
}
.col-md-5 {
	width: 41.666%;
}
.col-md-6 {
	width: 50%;
}
.col-md-7 {
	width: 58.333%;
}
.col-md-8 {
	width: 66.777%;
}
.col-md-9 {
	width: 75%;
}
h1, h2, h3, h4 {
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 26px;	
	color: #fff;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
.narrow {
	font-weight: 400;
}
button, .btn-link {
	border: 1px solid #000;
	color: #000;
	background-color: transparent;
	font-weight: 700;
	vertical-align: middle;
	padding: 6px 18px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
}
.btn-white {
	border: 1px solid #fff;
    color: #fff;
}
.btn-link {
    display: inline-block;
	outline: medium none;
}
.btn-square {
	width: 42px;
	height: 42px;
	padding: 0 !important;
}
.btn-square::before {
    content: '';
    display: block;
	margin: 0 auto;	
    background: no-repeat 0 0;
    background-size: 100%;
}
.btn-square:hover::before {
    background-position: 0 bottom;
}
button:hover, .btn-link:hover {
	background-color: #000;
	border: 1px solid #000;
    color: #fff;
}
a, a:link, a:hover, a:active {
    outline: none;
}
a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
	line-height: inherit;
}
input:focus, button:focus {
	outline: none;
}
.section {
    padding-bottom: 25px;
    border-top: 1px solid #e5e5e5;
}
@media(min-width: 768px) {
	.container {
		width: 720px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 940px;
	}
}
@media(min-width: 1200px) {
	.container {
		width: 1140px;
	}
}