* {
	box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #999;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2em;
}
.container {
	margin: 0 auto;
}
.wrap {
	display: flex;
}
[class*="col-"] {
	position: relative;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-4 {
	width: 33.333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-9 {
	width: 75%;
}
.center {
	justify-content: center;
}
.left {
	justify-content: flex-start;
}
.right {
	justify-content: flex-end;
}
.page-title {
	text-align: center;
	color: #fff;
	font-size: 32px;
	margin: 15px 0;
}
a, a:link, a:hover, a:active {
    outline: none;
}
a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
	line-height: inherit;
}
input:focus, button:focus {
	outline: none;
}
input[type="text"] {
	padding: 5px 10px;
    line-height: 1.35;
    height: 36px;
}
@media(min-width: 768px) {
	.container {
		width: 720px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 940px;
	}
}
@media(min-width: 1200px) {
	.container {
		width: 1140px;
	}
}