.toolbar-bottoms {
    justify-content: center;
    margin-bottom: 20px;
}
.toolbar-bottoms .btn-square {
    height: 36px;
    width: 36px;
    margin-right: 15px;
}
.toolbar-bottoms a {
    position: relative;
}
.arrow-prev::before, 
.arrow-next::before, 
.arrow-first::before, 
.arrow-first::after,
.arrow-last::before,
.arrow-last::after {
    content: '';
    background: url(/images/slider/arrow-down-black.png) no-repeat;
    background-size: cover;
    height: 7px;
    width: 12px;
    display: block;
    margin: 0 auto;
}
.arrow-first::before, .arrow-first::after {
    position: absolute;
    left: 9px;
    top: 15px;
}
.arrow-first::after {
    left: 15px;
}
.arrow-last::before, .arrow-last::after {
    position: absolute;
    right: 29px;
    top: 15px;
}
.arrow-last::after {
    right: 23px;
}
.arrow-prev:hover::before, 
.arrow-next:hover::before, 
.arrow-first:hover::before, 
.arrow-first:hover::after,
.arrow-last:hover::before,
.arrow-last:hover::after {
    content: '';
    background: url(/images/slider/arrow-down.png) no-repeat;
    background-size: cover;
    height: 7px;
    width: 12px;
    display: block;
    margin: 0 auto;
}
.arrow-prev::before, .arrow-first::before, .arrow-first::after {
    transform: rotate(90deg);
}
.arrow-next::before, .arrow-last::before, .arrow-last::after {
    transform: rotate(-90deg);
}
.toolbar-bottoms .active {
	background-color: #000;
	border: 1px solid #000;
    color: #fff;
}
.toolbar-bottoms .hidden {
    display: none;
}
.page-total {
    position: absolute;
    top: 0;
}
