.nav-menu {
    position: relative;
}
.menu-top > li > a {
    display: block;
    position: relative;
    text-transform: uppercase;
    padding: 22px 18px 16px;
    margin-right: 5px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #999;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.menu-top > .dropdown-menu > a {
    padding-right: 38px;
}
.menu-top > .dropdown-menu > a::before {
    background: url('/images/arrow-down.png') no-repeat 0 0;
    background-size: 100%;
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    right: 18px;
    top: 55%;
    transform: translateY(-50%);
}
.menu-top > .dropdown-menu > a:hover::before {
    background-position: 0 bottom;
}
.menu-top > li:last-child a {
    margin-right: 0;
}
.menu-top > li a:hover {
	color: #000;
}
.active > a {
	color: #000 !important;
}
.label-hot, .label-new {
    border-radius: 1px;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    left: 50%;
    padding: 0 5px;
    position: absolute;
}
.label-hot {
    background: #cc0000 none repeat 0 0;
}
.label-new {
    background: #000 none repeat 0 0;
}
.label-hot::before, .label-new::before {   
    border-style: solid;
    border-width: 6px 4px 0 0;
    bottom: -6px;
    content: "";
    left: 6px;
    position: absolute;
}
.label-hot::before {
    border-color: #cc0000 transparent #fff;
}
.label-new::before {
    border-color: #000 transparent #fff;
}
.dropdown-menu-inner {
    position: absolute;
    left: 0;
    top: 100px;
    padding: 15px 0;
    box-shadow: 0 1px 2px 2px #eaeaea;
    background: #fff none repeat 0 0;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.dropdown-menu:hover > .dropdown-menu-inner {
    top: 58px !important;
    visibility: visible;
    opacity: 1;
}
.menu-column {
    padding: 0 15px;
}
.dropdown-menu-img img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.dropdown-menu-inner a {
    display: block;
    color: #999;
    padding: 2px 0;
}
.dropdown-menu-title {
    margin-bottom: 10px;
    border-bottom: 2px solid #eaeaea;
    text-transform: uppercase;
}
.dropdown-menu-title > a {  
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
}
.dropdown-menu-list li a {
    letter-spacing: 0.5px;    
    line-height: 27px;
    font-weight: 500;
}
.widget-dropdown-menu  {
    background: #000;
    position: relative;
}
.widget-dropdown-menu img {
    opacity: 0.8;
}
.block-center {
    left: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.widget-text-small, .widget-text-large {
    color: #fff;
    font-family:  Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-top: 0;
    text-transform: uppercase;
}
.widget-text-small {
    font-size: 14px;
    margin-bottom: 10px;
}
.widget-text-large {
    font-size: 24px;
    margin-bottom: 20px;
}
.widget-menu-text .widget-menu-btn {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 42px;
    line-height: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: top;
}
.widget-menu-text .widget-menu-btn:hover {
    background: #333;
    color: #fff;
    border-color: #333;
}
