.subscr-form {
    padding: 45px 0 30px 0;
}
.subscr-input {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
    color: #999;
    height: 60px;
    outline: medium none;
    padding: 0 20px;
    position: relative;
}
.subscr-form .input-field {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-right: 150px;
}
.subscr-form .input-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #333;
    border: none;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    height: 38px;
    line-height: 38px;
    letter-spacing: 1px;
    padding: 0 30px;
}
.subscr-form .input-btn:hover {
    background-color: #000;
}
.subscr-confirm {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-left: 20px;
    color: #fff;
    background-color: #666;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    animation: fadein 1.5s ease-in alternate;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}