.slider-widget {
    flex-direction: column;
    padding-left: 15px;
    height: 560px;
}
.widget-img-block {
    position: relative;
    margin-bottom: 30px;
}
.widget-img-block img {
    width: 100%;
    height: auto;
    margin: 0;
}
.widget-img-content .title {
    top: 30px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    left: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}
.widget-img-content .title a:hover {
    color: #555;
}
.widget-text-block {
    flex: 1 0 auto;
    position: relative;
    background-color: #333;
    height: 150px;
}
.widget-text-block .block-center {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0px, -50%);
    width: 100%;
}
.widget-text-block .title {
    margin-bottom: 15px;
    cursor: default;
}
.widget-text-block .text {
    color: #cccccc;
    font-size: 13px;
    font-family: Lato;
    margin-bottom: 20px;
    text-transform: capitalize;
    cursor: default;
}

