.header-cart {
    padding-bottom: 15px;
    position: relative;
}
.top-cart {
    text-align: right;
    box-sizing: border-box;
}
.top-cart .text, .product-quantity {
    color: #999;
}
.top-cart a {
    position: relative;
    padding-left: 35px;
}
.product-quantity {
    margin-left: 10px;
}
.shopping-bag-icon::before {
    background: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/shopping-bag.png?alt=media&token=8bc87b87-c478-422c-b812-90d0e55a5cf6') no-repeat 0 0;
    background-size: 100%;
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    bottom: 0;
}
.dropdown-cart {
    background: #fff;
    box-shadow: 0 0 2px 0 #ccc;
    padding: 15px;
    width: 330px;
    position: absolute;
    top: 25px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.header-cart:hover > .dropdown-cart {
    top: 35px;
    visibility: visible;
    opacity: 1;
}
.product-quantity-fix {
    position: absolute;
    bottom: -3px;
    right: -8px;
    background: #cc0000;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    border-radius: 50%;
}

