.product-description {
    padding-top: 60px;
    margin-bottom: 10px;
}
.product-page .product-view-img {
    padding: 0;
}
.product-shop-info {
    padding: 0 15px 0 45px;
}
.product-shop-info h2 {
    text-align: left;
    margin-bottom: 5px;
}
.reviews-count {
    padding: 3px 0 0 5px;
}
.product-page .review-rating {
    margin-bottom: 10px;
}
.product-page .product-base-info {
    margin-top: 12px;
    margin-bottom: 8px;
}
.product-page .product-base-info th {
    text-transform: inherit;
    color: #000;
}
.product-page .product-summary {
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    color: #666;
    letter-spacing: 0.5px;
    line-height: 1.8;
    padding: 20px 0;
}
.product-page .product-quantity-title {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    line-height: 42px;
}
.product-page .product-options-item, .product-page .product-options-color {
    margin-bottom: 25px;
}
.product-page .product-quantity {
    margin: 0 0 25px 0;
}
.product-page .product-quantity-value input {
    border: 1px solid #999;
    width: 42px;
    height: 42px;
    margin-left: 10px;
}
.product-page .action-buttons button {
    margin-left: 10px;
}
.tab-content .tab-pane {
    letter-spacing: 0.5px;
    color: #666;
}