.section-title {
    padding-top: 45px;
}
.section-title label, .section-title em {
    letter-spacing: 2px;
    color: #999;
}
.section-title label {
    cursor: pointer;
    transition: all 0.5s;
}
.section-title label:hover, .section-title label.checked {
    color: #000;
}
.section-title label.checked {
    cursor: default;
}
.section-title input {
    display: none;
}
.products-list-slider {
    margin-top: 95px;
}