.main-page-section {
    padding-bottom: 55px;
    border-bottom: 1px solid #e5e5e5;
}
.section-title {
    padding-top: 45px;
}
.section-title label, .section-title em {
    letter-spacing: 2px;
    color: #999;
}
.section-title label {
    cursor: pointer;
    transition: all 0.5s;
}
.section-title label:hover, .section-title label.checked {
    color: #000;
}
.section-title label.checked {
    cursor: default;
}
.section-title input {
    display: none;
}