.view-slider .slick-slide .slick-slide-item {
    width: 99px;
    cursor: pointer;
}
.slick-view .view-slider .slick-slide {
    width: 120px !important;
    margin-left: 10px;
}
.view-slider .slick-slide {
    width: 100px !important;
    margin-left: 11px;
}
.view-slider .slick-list {
    margin-left: -10px;
}
.view-slider .slick-slide-item > img{
    width: 100%;  
}
.view-slider .slick-prev, .view-slider .slick-next {
    width: 35px;
    height: 35px;
    visibility: visible;
    background: #fff;
    border: 1px solid #ccc;
    transform: translate(0, -50%);
    bottom: 0;
    transition: all 0.1s ease-in-out;
}
.view-slider .slick-prev:hover, .view-slider .slick-next:hover {
    border: none !important;
}
.view-slider .slick-prev:focus, .view-slider .slick-next:focus {
    background: #fff;
    border: 1px solid #ccc;
}
.view-slider .slick-prev:before, .view-slider .slick-next:before {
    background: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/slider%2Farrow-down-grey.png?alt=media&token=6b2d13f0-c470-4cd3-8b24-b3eb4357da11') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 9px;
    width: 15px;
    display: block;
    margin: 0 auto;
}
.view-slider .slick-prev:hover:before, .view-slider .slick-next:hover:before {
    background: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/slider%2Farrow-down.png?alt=media&token=851d0e85-5b5f-44c3-a49d-bd0ad86f4bf3');
    -webkit-background-size: cover;
    background-size: cover;
    height: 9px;
    width: 15px;
    display: block;
    margin: 0 auto;
}