.empty-cart h2 {
    text-align: left;
}
.empty-cart .section-title {
    padding-bottom: 90px;
}
.cart-table {
    padding: 45px 0 50px 0;
}
.cart-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.cart-table tr th, .cart-table tr td {
    border-bottom: 1px solid #d5d5d5;
    padding: 20px;
    width: 16.7%;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.cart-table thead th:nth-child(2) {
    width: 33.4% !important;
}
.cart-table thead th {
    color: #666;
    background: #fafafa;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: 600;
}

.cart-table table img {
    max-width: 120px;
    width: 100%;
    height: auto;
}
.cart-table table a {
    display: inline-block;
    width: 100%;
    line-height: 0;
    vertical-align: middle;
}
.cart-table table .btn-remove {
    position: initial;
    font-weight: 600;
    color: #cc0000;

}
.cart-table table .compare-price {
    text-decoration: line-through;
    padding-right: 4px;
    font-style: italic;
}
.cart-table table .product-quantity-value .plus::before, .product-quantity-value .minus::before {
    width: 8px;
    height: 8px;
    content: '';
    display: block;
	margin: 0 auto;	
    background-size: 100%;
}
.cart-table table .product-quantity-value {
    text-align: initial;
}
.cart-table table .product-quantity-value .plus::before {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/plus-red.png?alt=media&token=c0244539-c62f-4a8e-81c1-21b9442a9fa4');
    width: 12px;
    height: 12px;
}
.cart-table table .product-quantity-value .minus::before {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/minus-red.png?alt=media&token=cb397179-1335-4d42-8176-7c3159adcdc8');
}
.cart-table table .product-quantity-value input {
    width: 42px;
    border: 1px solid #ccc;
    color: #999;
}
.cart-table table .product-quantity-value .btn-square, .cart-table table .product-quantity-value .btn-square:disabled {
    border: none;
    background-color: initial;
}
.cart-table table .product-quantity-value .minus:disabled::before {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/minus-grey.png?alt=media&token=0e8ff42b-fee4-4a6b-9064-452e43556dc9');
}
.cart-table table .product-quantity-value .plus:disabled::before {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/plus-grey.png?alt=media&token=d484600e-b5a1-42bb-95fc-671c5a5f07ff');
}

.cart-table tfoot .total {
    color: #666;
    font-weight: 600;
}

.cart-table tfoot .bold {
    color: #000;
}
.cart-table .action-buttons {
    margin-top: 25px;
}