.blog-view {
    margin-top: 45px;
    padding-bottom: 25px;
}
.view-slider .blog-view .slick-slide {
    width: 30.769% !important;
    margin-left: 40px;
}
.view-slider .blog-view .slick-list {
    margin-left: -40px;
}
.view-slider .blog-view .slick-slide-item {
    overflow: hidden;
    cursor: default;
}
.view-slider .blog-view .slick-slide-item > img {
    width: 100%;
    transition: all 250ms ease-in-out 0s;
    position: relative;
    line-height: 0;
    cursor: default;
}
.view-slider .blog-view .slick-slide-item > img:hover {
    transform: scale(1.1);
}
.slick-slide-item .post-title-wrap {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    padding: 0 15px 10px;
    position: absolute;
    text-align: left;
    width: 100%;
}
.post-title-wrap h3 {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    text-align: left;
}
.post-title-wrap h3:hover {
    color: #ccc;
}
.post-title-wrap .post-date {
    margin-left: 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    position: relative; 
    cursor: default;  
}
.post-title-wrap .post-date::before {
    content: '';    
    background: url('https://firebasestorage.googleapis.com/v0/b/workshop-project-react.appspot.com/o/calendar.png?alt=media&token=c77bc595-cfea-4e98-87d2-08fc023cb6c5') no-repeat 0 0;
    display: block;
    position: absolute;
    left: -20px;
    top: 7px;
    background-size: 100%;
    width: 14px;
    height: 14px;
}
@media(min-width: 587px) {
	.view-slider .blog-view .slick-slide {
        max-width: 345px;
        margin-left: 30px;
    }
    .view-slider .blog-view .slick-list {
        margin-left: -30px;
    }
}
@media(min-width: 992px) {
	.view-slider .blog-view .slick-slide {
        max-width: 455px;
        margin-left: 30px;
    }
    .view-slider .blog-view .slick-list {
        margin-left: -30px;
    }
}
@media(min-width: 1024px) {
    .view-slider .blog-view .slick-slide {
        margin-left: 24px;
    }
    .view-slider .blog-view .slick-list {
        margin-left: -24px;
    }
}
@media(min-width: 1200px) {
	.view-slider .blog-view .slick-slide {
        margin-left: 30px;
    }
    .view-slider .blog-view .slick-list {
        margin-left: -30px;
    }
}