.social-links .btn-square {
    margin-left: 5px;
    width: 26px;
    border: none;
}
.social-links .btn-square:hover {
    background-color: transparent;
}
.social-links .btn-square::before {
    width: 14px;
    height: 14px;
}
.fb-icon .btn-square::before {
    background-image: url('/images/social-icons/fb-icon.png');
}
.twitter-icon .btn-square::before {
    background-image: url('/images/social-icons/twitter-icon.png');
}
.insta-icon .btn-square::before {
    background-image: url('/images/social-icons/insta-icon.png');
}
.youtube-icon .btn-square::before {
    background-image: url('/images/social-icons/youtube-icon.png');
}
.pinterest-icon .btn-square::before {
    background-image: url('/images/social-icons/pinterest-icon.png');
}