.header-cart {
    position: relative;
    float: right;
    margin-top: 50px;
    padding-bottom: 15px;
}
.top-cart {
    text-align: right;
    box-sizing: border-box;
}
.top-cart .text, .product-quantity {
    color: #999;
}
.top-cart a {
    position: relative;
    padding-left: 35px;
}
.product-quantity {
    margin-left: 10px;
}
.shopping-bag-icon::before {
    background: url('/images/shopping-bag.png') no-repeat 0 0;
    background-size: 100%;
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    bottom: 0;
}
.dropdown-cart {
    background: #fff;
    box-shadow: 0 0 2px 0 #ccc;
    padding: 15px;
    width: 330px;
    position: absolute;
    top: 25px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.header-cart:hover > .dropdown-cart {
    top: 40px !important;
    visibility: visible;
    opacity: 1;
}

